table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center left;
}

h2, h3, h4, h5 {
    margin-bottom: 0.5em;
}


h2, h3, h4, h5 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

